{% extends "cms/base.html" %}
<!DOCTYPE html>
{% block title %}ログインページ{% endblock title %}

{% load static %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="mt-5"></div>
    <div class="mt-5"></div>
    <form action="" method="POST">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group has-feedback form_long">
          {{ field }}
        </div>
      {% endfor %}
      <div class="row">

        {% for error in form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            <p>{{ error }}</p>
          </div>
        {% endfor %}
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">ログイン</button>
        </div>
      </div>
    </form>
    <a href="{% url 'cms:index_page' %}" class="btn btn-secondary btn-sm btn_sec ">戻る</a>
  </div>
</div>
{% endblock content %}
